[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
click_completion = "*"
pkg-dev = {path = ".", editable = true}

[packages]
faust = "==1.10.4"

[requires]
python_version = "3.8"
